<%= image_tag("name.png", alt: "Tinder For The World", class: "center-block img-responsive", style: "max-width: 15%; height: auto;") %>

<div id="phone">  
  <div id="app">
    <div class="header">
      <div class="top">
        <span class="left">
          <span class="fontawesome-circle"></span>
          <span class="fontawesome-circle"></span>
          <span class="fontawesome-circle-blank"></span>
          VERIZON
          <span class="fontawesome-signal"></span>
        </span>
        <span class="center clock"></span>
        <span class="right">
          <span>75%</span>
          <div id="battery"></div>
          <span class="fontawesome-bolt"></span>
        </span>
      </div>
    </div>
    <div id="people"></div>
    <div id="control">
      <div class="button no">
        <a class="trigger"></a>
      </div>
      <div class="button info">
        <a class="trigger"></a>
      </div>
      <div class="button yes">
        <a class="trigger"></a>
      </div>
    </nav>
  </div>
 </div>
</div>